ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}

img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.c-viewItem {
  --col-gap: 10px;

  &__row {
    display: flex;
    margin-left: calc(0px - var(--col-gap));
    margin-right: calc(0px - var(--col-gap));
  }

  &__col {
    flex: 1;
    padding-left: var(--col-gap);
    padding-right: var(--col-gap);
  }

  &__buttons {
    display: flex;
    margin-left: calc(0px - var(--col-gap));
    margin-top: 20px;
    margin-bottom: 20px;

    ion-button {
      flex: 1;
      margin-left: var(--col-gap);
    }
  }
}
